__pycache__/
*.py[cod]
/build
db.sqlite3
# output of 'manage.py collectstatic'
staticfiles/
# Virtualenv is recreated as needed. Don't commit.
venv/
env/
# Sensitive environment vars
.env
local_settings.py

# code coverage
.coverage
htmlcov/
/coverage

# IDE and MacOS files
.idea/
*.iml
.project
.pydevproject
.vscode/
.DSStore
